* {
    padding: 0;
    margin: 0;
}

.paper {
    background-color: white;
    width: 90%;
    height: 1200px;
}

.new {
    position: relative;
    left: 4%;
    margin: auto;
    padding-top: .5%;
    background-color: white;
    width: 950px;
    height: 1130px;
}

h1 {
    position: relative;
    margin-top: 20px;
    left: 7%;
}

.header {
    border: 0;
}

.header .headerpic {
    width: 150px;
    height: 130px;
    border: 1px solid black;
}

h2 {
    position: relative;
    border: 3px solid black;
    background-color: black;
    width: 77.8%;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    padding-left: 15px;
    font-weight: 600;
}

table {
    padding-left: 15px;
    margin-top: 5px;
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

.left {
    position: relative;
    width: 15%;
}

.input1 {
    margin-right: 40%;
    border-bottom: 1px solid black;
    width: 20%;
}

.right {
    position: relative;
    padding-left: 25px;
    width: 5%;
}

.input2 {
    border-bottom: 1px solid black;
    width: 20%;
}

.longm {
    position: relative;
    width: 12%;
}

h3 {
    position: relative;
    border: 3px solid black;
    background-color: black;
    width: 77.8%;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    padding-left: 15px;
    font-weight: 600;
}

.table2_left {
    position: relative;
    width: 15%;
}

.table2_input1 {
    margin-right: 40%;
    border-bottom: 1px solid black;
    width: 26%;
}

.table2_right {
    position: relative;
    padding-left: 15px;
    width: 13%;
}

.table2_input2 {
    border-bottom: 1px solid black;
    width: 22%;
}

.table2_longm {
    position: relative;
    width: 12%;
}

h4 {
    position: relative;
    border: 3px solid black;
    background-color: black;
    width: 77.8%;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    padding-left: 15px;
    font-weight: 600;
}

.table3_left {
    position: relative;
    width: 19.8%;
}

.table3_input1 {
    border-bottom: 1px solid black;
    width: 74.5%;
}

.table3_inputl {
    border-bottom: 1px solid black;
    width: 37%;
}

.table3_middle {
    padding-left: 5px;
    position: relative;
    width: 7%;
}

.table3_input2 {
    border-bottom: 1px solid black;
    width: 15%;
}

.table3_right {
    padding-left: 5px;
    position: relative;
    width: 4%;
}

.table3_input3 {
    border-bottom: 1px solid black;
    width: 25%;
}

h5 {
    position: relative;
    border: 3px solid black;
    background-color: black;
    width: 77.8%;
    color: white;
    margin-top: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    padding-left: 15px;
    font-weight: 600;
}

.tablelastr {
    float: right;
    margin: 0;
    margin-top: 25px;
    margin-right: 11%;
    width: 450px;
    border: 0px;
    text-align: justify;
}

.sign {
    text-align: center;
    font-size: 14px;
}

.tablelastl {
    margin-top: 5px;
    float: left;
    margin-right: 0px;
    width: 31%;
    border: 1px solid black;
    text-align: justify;
    margin-left: 10%;
}

.las {
    position: relative;
    width: 24.7%;
}

.las_ {
    border-bottom: 1px solid black;
    width: 25%;
}