* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.paper {
    background-color: black;
    width: 100%;
}

.new {
    position: relative;
    margin: auto;
    background-color: black;
    width: 94%;
    max-width: 1600px;
}

.first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(photos/1.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-bar_left {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 47px;
    margin-left: 150px;
    font-family: sans-serif;
    font-weight: 790;
    font-size: 48px;
    color: white;
}

.green {
    color: #20E700;
}

.menu-bar_right {
    position: relative;
    top: 17%;
    left: 57%;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 700;
}

.menu-bar_right ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar_right ul li {
    width: 83px;
    margin: 8px;
    padding: 10px;
}

.menu-bar_right ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar_right ul li:hover {
    background: #20E700;
    border-radius: 30px;
    transition: 0.5s ease;

}

.menu-bar_right .fa {
    margin-right: 13px;
}

.space {
    padding-right: 12px;
}

.basicinf {
    height: 68.5%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    font-size: 130px;
    font-family: sans-serif;
    font-weight: 700;
}

h3 {
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 700;
}

.second {
    width: 100%;
    height: 500px;
    background-color: #242323;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

h4 {
    padding-top: 0px;
    font-size: 95px;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}

.lorem {
    width: 55%;
    padding-top: 48px;
    font-size: 37px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
}

.third {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    justify-content: center;
    text-align: center;
}

h5 {
    color: #362D2D;
    font-size: 95px;
    font-weight: 800;
    font-family: sans-serif;
    padding-top: 33px;
}

.photos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 380px;
    height: 380px;
    margin-right: 20px;
}

td {
    padding-top: 18px;
}

.button1 {
    padding-top: 70px;
    padding-bottom: 35px;
}

.see {
    color: white;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 700;
    border: none;
    margin: 4px 6px;
    padding: 20px 65px;
    background-color: #45893A;
}

.see:hover {
    cursor: pointer;
    background-color: #20E700;
    border-radius: 10px;
    transition: 0.5s ease;
}

.fourth {
    width: 100%;
    height: 100%;
    background-color: #3E3C3C;
    justify-content: center;
    text-align: center;
}

h6 {
    width: 100%;
    color: white;
    font-size: 95px;
    font-family: sans-serif;
    font-weight: 800;
    padding-top: 150px;
    font-size: 100px;
    position: relative;
    right: 20%;
    padding-bottom: 22px;
}

.contact1 {
    display: flex;
    text-align: left;
    color: white;
}

.contact1_email {
    width: 34%;
    padding-left: 150px;
    padding-right: 60px;
}

.contact1_email p {
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 1000;
    padding-top: 35px;
}

.emailphoto {
    width: 27px;
    height: 24px;
    margin-right: 20px;
}

.contact1_name {
    background-color: #312D2D;
    width: 42%;
    height: 100px;
    justify-content: center;
}

.contact1_name p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 1000;
}

.contact2 {
    padding-top: 30px;
    display: flex;
    text-align: left;
    color: white;
}

.contact2_num {
    width: 34%;
    padding-left: 150px;
    padding-right: 60px;
}

.contact2_num p {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 1000;
    padding-top: 35px;
}

.contact2_email {
    background-color: #312D2D;
    width: 42%;
    height: 100px;
    justify-content: center;
}

.contact2_email p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 1000;
}

.phonephoto {
    width: 27px;
    height: 24px;
    margin-right: 21px;
}

.contact3 {
    padding-top: 30px;
    display: flex;
    text-align: left;
    color: white;
}

.contact3_social {
    width: 29%;
    padding-left: 230px;
    padding-right: 60px;
}

.fbphoto {
    width: 83px;
    height: 83px;
    cursor: pointer;
    padding-right: 20px;
}

.twitterphoto {
    width: 83px;
    height: 83px;
    cursor: pointer;
}

.contact3_message {
    background-color: #312D2D;
    width: 42%;
    height: 100px;
    justify-content: center;
    padding-bottom: 120px;
}

.contact3_message p {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 1000;
}

.contact4 {
    padding-top: 30px;
    display: flex;
    text-align: left;
    color: white;
    padding-left: 0;
}

.button2 {
    width: 100%;
    position: relative;
    right: 15%;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.download {
    color: white;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 700;
    border: none;
    margin: 4px 6px;
    padding: 30px 70px;
    background-color: #45893A;
}

.download:hover {
    cursor: pointer;
    background-color: #20E700;
    border-radius: 10px;
    transition: 0.5s ease;
}

.button3 {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 600px;
}

.submit {
    color: white;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 700;
    border: none;
    margin: 4px 6px;
    padding: 30px 100px;
    background-color: #45893A;
}

.submit:hover {
    cursor: pointer;
    background-color: #20E700;
    border-radius: 10px;
    transition: 0.5s ease;
}